<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <style>
        body {
    background-image: linear-gradient(to bottom, #1e212d, #232731);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: #ffffff; /* Optional: sets text color to make it readable */
}
    </style>
</head>
<body>
    <h2>Welcome to the Index Page</h2>
    <p>You are logged in!</p>
</body>
</html>
