{% extends 'base.html' %}

{% block content %}
  <h1>Trash</h1>

  {% if notes %}
    <ul class="trash-notes">
      {% for note in notes %}
        <li>
          <h2>{{ note.title }}</h2>
          <div style="white-space: pre-wrap;">{{ note.content }}</div>
          <a href="{% url 'restore_note' note.id %}" class="trash-restore-btn">Restore</a>
          <a href="{% url 'delete_note_permanently' note.id %}" class="trash-restore-btn">Delete Permanently</a>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>No notes found in the trash.</p>
  {% endif %}
{% endblock %}